
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
}

.background-main {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
  background-color: lightsalmon;
  background-image: url(Images/martian-surface.jpg);
}

.center-button {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.big-button {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-family: monospace;
}

#APOD-Title {
  width: max-content;
  font-family: monospace;
  color: white;
  position: absolute;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  font-size: xx-large;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#APOD-Explanation {
  font-family: monospace;
  color: white;
  position: absolute;
  text-align: center;
  top: 70px;
  left: 5%;
  right: 5%;
  margin-top: 5vh;
  z-index: 100;
  font-size: large;
}

#leftPanel {
  width: 50%;
  height: 100vh;
}

#rightPanel {
  width: 50%;
  height: 100vh;
}

#button-container {
  display: flex;
}

#Rover1 {
  position: fixed;
  top: 75%;
  left: 87.5%;
  transform: translate(-50%, -50%);
  width: 17.32804232804233vw;
  height: 31.824417009602193vh;
  background-image: url(Images/Daco_5434584.png);
  filter: drop-shadow(16px 16px 16px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Rover2 {
  position: fixed;
  top: 75%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  width: 29.365079365079364vw;
  height: 31.824417009602193vh;
  background-image: url(Images/Daco_1663878.png);
  filter: drop-shadow(16px 16px 16px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Roadster {
  position: fixed;
  top: 75%;
  left: 26.5%;
  transform: translate(-50%, -50%);
  width: 35.383597883597886vw;
  height: 27.434842249657063vh;
  background-image: url(Images/PngItem_1250144.png);
  filter: drop-shadow(16px 16px 16px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Title {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(images/Titleimgw.png);
  width: 79.36507936507937vw;
  height: 16.46090534979424vh;
  filter: drop-shadow(6px 6px 8px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Exit {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  visibility: hidden;
}

.btn {
  border: 2px solid white;
  font-family: monospace;
}

#rover1Button{
  position: fixed;
  top: 50%;
  left: 75%;
  width: 120px;
  height: 50px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: max-content
}

#rover2Button{
  position: fixed;
  top: 50%;
  left: 75%;
  width: 120px;
  height: 50px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: max-content
}

#Starman {
  position: fixed;
  top: 130%;
  left: -30%;
  transform: translate(0%, -100%);
  background-image: url(images/fullsuitenew-0.png);
  width: 147px;
  height: 161px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

#ImageCarousel {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  background-color: gray;
  display: flex;
  align-items: center;
  visibility: hidden;
  border-radius: 20px;
  opacity: 0.4;
  border: 2px solid darkgray;
}

#navigation-buttons {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

#mars-image {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 80vh;
  max-width: 70vw;
  visibility: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  z-index: 100;
}

.navbutton {
  margin: 10px;
  height: 15vh;
  font-weight: bolder;
}

#roadster-data {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  border-radius: 20px;
  border: 2px solid darkgray;
  visibility: hidden;
  background-color:rgba(128,128,128,.4)
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-template-rows: 1fr auto; /* One row for the content, one row for the button */
  grid-gap: 10px; /* You can adjust the gap between columns if needed */
  padding: 10px;
}

/* Optional styling for the items */
.grid-container > div {
  padding: 10px;
  text-align: center;
  background-color:rgba(128, 128, 128, 0.10);
  border: solid 2px black;
  border-radius: 20px;
}

.button-container {
  grid-column: 1 / -1; /* Make the container span both columns */
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.roadsterContent {
  text-align: center;
  color: white;
  background-color:rgba(128,128,128);
}

#DiscoBall {
  position: fixed;
  top: -200%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

@media screen and (max-width: 800px) {
  #APOD-Title {
    width: 80%;
  }

  #APOD-Explanation {
    visibility: hidden;
  }

  #Rover1 {
    visibility: hidden;
    width: 70vw;
    left: 200%;
  }
  
  #Rover2 {
    left: 50%;
    top: 25%;
    width: 80vw;
  }
  
  #Roadster {
    position: fixed;
    top: 75%;
    left: 50%;
    width: 80vw;
  }

  #Title {
    top: 8%;
  }

  #leftPanel {
    width: 50%;
    height: 50vh;
    align-items: start;
    padding: 10px;
  }
  
  #rightPanel {
    width: 50%;
    height: 50vh;
    align-items: end;
    padding: 10px;
  }
  
  #button-container {
    display: flex;
    flex-direction: column-reverse;
  }

  #roadster-data {
    height: 55vh;
    width: 90vw;
  }

  #Starman {
    width: 13vh;
    height: 13vh;
  }

  #rover1Button{
    z-index: 1000;
  }
  
  #rover2Button{
    z-index: 1000;
  }

  #ImageCarousel {
    align-items: end;
    width: 90vw;
    height: 88vh;
  }
  
  .navbutton {
    margin: 10px;
    height: 5vh;
    width: 20vw;
    font-weight: bolder;
  }

  #navigation-buttons {
    width: 90vw;
  }

  #mars-image {
    max-width: 90vw;
  }
}
