body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
}

.background-main {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
  background-color: lightsalmon;
  background-image: url(Images/martian-surface.jpg);
}

.center-button {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.big-button {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-family: monospace;
}

#APOD-Title {
  width: max-content;
  font-family: monospace;
  color: white;
  position: absolute;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  font-size: xx-large;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#APOD-Explanation {
  font-family: monospace;
  color: white;
  position: absolute;
  text-align: center;
  top: 70px;
  left: 5%;
  right: 5%;
  margin-top: 5vh;
  z-index: 100;
  font-size: large;
}

#leftPanel {
  width: 50%;
  height: 100vh;
}

#rightPanel {
  width: 50%;
  height: 100vh;
}

#button-container {
  display: flex;
}

#Rover1 {
  position: fixed;
  top: 75%;
  left: 87.5%;
  transform: translate(-50%, -50%);
  /* background-color: lightcoral; */
  width: 17.32804232804233vw;
  height: 31.824417009602193vh;
  background-image: url(Images/Daco_5434584.png);
  filter: drop-shadow(16px 16px 16px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Rover2 {
  position: fixed;
  top: 75%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  /* background-color: lightblue; */
  width: 29.365079365079364vw;
  height: 31.824417009602193vh;
  background-image: url(Images/Daco_1663878.png);
  filter: drop-shadow(16px 16px 16px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Roadster {
  position: fixed;
  top: 75%;
  left: 26.5%;
  transform: translate(-50%, -50%);
  width: 35.383597883597886vw; /* Adjust the width to your preference */
  height: 27.434842249657063vh; /* Adjust the height to your preference */
  background-image: url(Images/PngItem_1250144.png);
  filter: drop-shadow(16px 16px 16px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Title {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(images/Titleimgw.png);
  width: 79.36507936507937vw;
  height: 16.46090534979424vh;
  filter: drop-shadow(6px 6px 8px black);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

#Exit {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  visibility: hidden;
}

.btn {
  border: 2px solid white;
  font-family: monospace;
}

#rover1Button{
  position: fixed;
  top: 50%;
  left: 75%;
  width: 120px;
  height: 50px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: max-content
}

#rover2Button{
  position: fixed;
  top: 50%;
  left: 75%;
  width: 120px;
  height: 50px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: max-content
}

#Starman {
  position: fixed;
  top: 130%;
  left: -30%;
  transform: translate(0%, -100%);
  background-image: url(images/fullsuitenew-0.png);
  width: 147px;
  height: 161px;
  cursor: pointer;
}

#ImageCarousel {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80vw;
  height: 80vh;
  background-color: gray;
  display: flex;
  align-items: center;
  visibility: hidden;
  border-radius: 20px;
  filter: drop-shadow(16px 16px 32px black);
  opacity: 0.4;
  border: 2px solid darkgray;
}

#navigation-buttons {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

#mars-image {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 80vh;
  max-width: 70vw;
  visibility: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  z-index: 100;
}

.navbutton {
  margin: 10px;
  height: 15vh;
  font-weight: bolder;
}

#roadster-data {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  background-color: gray;
  border-radius: 20px;
  opacity: 0.4;
  border: 2px solid darkgray;
  filter: drop-shadow(16px 16px 32px black);
  visibility: hidden;
}

#DiscoBall {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}