body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
}

.center-button {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.big-button {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-family: monospace;
}

#APOD-Title {
  width: max-content;
  font-family: monospace;
  color: white;
  position: absolute;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  font-size: xx-large;
}

#APOD-Explanation {
  font-family: monospace;
  color: white;
  position: absolute;
  text-align: center;
  top: 50px;
  left: 5%;
  right: 5%;
  margin-top: 5vh;
  z-index: 100;
  font-size: large;
}